//Index.jsファイル用のStyleSheet
.container{
  display: flex;
  justify-content: center;;
  padding: 80px 10px;
  // @media screen and (max-width: 600px){
  //   flex-direction: column;
  //   padding: 80px 0;
  // }
  @media screen and (max-width: 1000px){
    flex-direction: column;
    padding: 80px 0;
  }
  @media screen and (min-width: 1300px){
    margin: 0 10%;
  }
}

// メインコンテンツ---------
.mainContents{
  width: 70%;
  margin-right: 10px;
  margin-bottom: 80px;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  // @media screen and (max-width: 600px){
  //   width: 100%;
  // }
  @media screen and (max-width: 1000px){
    width: 100%;
  }
  // Indexの「IT,株,体づくり」＆トップ記事
  .topCardWrapper{
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 80px;
    display: flex;
    border-bottom: 1px solid #888;
  }
  .topCard{
    width: 30%;
    height: 400px;
    margin: 0 1.5%;
    &:hover{
      background-color: #EFEFEF;
    }
    h1{
      margin: 5px 0;
      text-align: center;
      font-weight: normal;
    }
    img{
      width: 100%;
    }
  }


  // カードのCSS（Indexページで表示する形式）
  .card{
    height: 400px;
    width: 80%;
    background-color: #AAA;
    &:hover{
      cursor : pointer;
    }
  }

  // 記事ページのCSS
  .updated{
    width: 100%;
    text-align: right;
    font-size: 15px;
  }
  h1{//記事のタイトル
    margin: 30px 0;
    font-size: 28px;
  }
  .topPhoto{
    margin-bottom: 30px;
    width: 100%;
  }
  h2{//小見出し
    width: 100%;
    margin-top: 80px;
    padding-left: 10px;
    border-left: 5px solid #FA0;
    border-bottom: 1px solid #AAA;
  }
  ul{
    width: 100%;
    padding: 20px;
    border:1px dashed #FA0;
    background-color: #FFFAEA;
    list-style: none;
    font-size: 18px;
    li{
      margin: 10px 0px;
    }
  }
  h3{//地の文章の内の強調！！
    width: 100%;
    text-align: left;
  }
  p{//地の文章
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 36px;
  }
  h4{//地の文章　パート2
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    background-color: #EEE;
    line-height: 36px;
  }
}

// 右サイドのコンテンツ-------
.sideContents{
  width: 30%;
  background-color: #FFF;
  @media screen and (max-width: 600px){
    width: 100%;
  }
  @media screen and (max-width: 1000px){
    width: 100%;
    padding: 0 10px;
  }
  @media screen and (min-width: 1300px){
    width: 20%;
  }
}
.profile{
  margin-bottom: 80px;
  .profileTitle{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #888;
    line-height: 40px;
  }
  .profileContents{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 32px;
    span{
      font-weight: bold;
      text-decoration:underline;
    }
    img{
      border-radius: 50%;
    }
  }
}
.archive{
  margin-bottom: 20px;
  .archiveTitle{
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
    text-align: center;
    line-height: 40px;
  }
  .archiveContents{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}