// Layout,Header,FooterのStyleSheet

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  font-size: 24px;
  height: 50px;
  padding: 0 30px;
}

.headerMenu{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.headerMenu button{
  border: none;
  background-color: #111;
  color: white;
  font-size: 18px;
  line-height: 48px;
  width: 30%;
  &:hover{
    cursor: pointer;
    background-color: #555;
  }
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #FFF;
  height: 50px;
}
